body {
    margin: 0;
}

.content-box {
    margin: 2rem auto 0;
    width: 60%;
    height: 300px;
}

.el-menu--horizontal > .el-menu-item {
    font-size: 1rem;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.box-card {
    height: 100%;
}

.table-content {
    height: 100%;
}