body {
    margin: 0;
}

.header {
    height: 100px;
    background-color: gray;
    color: white;
    line-height: 100px;
    padding-left: 20px;
    font-size: 20px;
}

.content-box{
    margin: 2rem auto 0;
    width: 60%;
    height: 300px;
}

.el-menu--horizontal > .el-menu-item {
    font-size: 1rem;
}
.buttons{
    margin-top: 20px;

    text-align: center;
}